@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Rubik", sans-serif;
    background-image: url("./assets/Images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: 100% auto; 
}
.container{
    max-width: 1250px;
}
.hero-section{
    padding-bottom: 45px;
}
.category-section{
     padding-bottom: 113px;
    position: relative;
}
.category-list::-webkit-scrollbar{
    display: none;
}
.category-item{
    transition: all linear 0.5s;
}
.category-item:hover{
    background-image: url("./assets/Images/item-bg-img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.treding-section{
    padding-bottom: 250px;
}
.trending-item:hover{
    background-image: url("./assets/Images/item-bg-img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.site-footer{
    margin-bottom: 48px;
}
.footer{
    padding: 79px 73px 40px 62px;
    background-color: #F9FFF6;
    border-radius: 20px;
}
.footer-item + .footer-item{
 margin-top: 19px;
}
.footer-label{
    padding-left: 15px;
}
.footer-input::placeholder{
  color: #000000;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.footer-item-link{
    transition: all 0.5s;
}
.footer-item-link:hover > svg{
    fill: white;
}
.outer{
    margin-bottom: 32px;
}